@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper {
  height: 100vh;
  background-color: rgba(37, 95, 201, 0.616);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h3 {
  text-align: center;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 28px;
}
.wrapper__choices {
  width: 460px;
  min-height: 100px;
  border: 0;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  font-size: 18px;
  resize: none;
  margin-bottom: 30px;
}
.wrapper__choices:focus {
  border: 0;
  outline: none;
  font-family: "Roboto", sans-serif;
}

.storage {
  display: flex;
  width: 460px;
  flex-wrap: wrap;
}
.storage span {
  margin-right: 5px;
  background-color: rgb(252, 165, 5);
  border-radius: 50px;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  margin-bottom: 5px;
}
.storage .active {
  background-color: blue;
}

@media screen and (max-width: 440px) {
  .wrapper__choices,
  .storage,
  .wrapper h3 {
    width: 80%;
    padding: 10px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1024px) and (min-width: 441px) {
  .wrapper__choices,
  .storage,
  .wrapper h3 {
    width: 60%;
  }
}
