* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.container .bg-img {
  height: 100vh;
  width: 100vw;
  background: url(https://i.ytimg.com/vi/MMPTyUceF5s/maxresdefault.jpg) center
    center no-repeat;
  background-size: cover;
  filter: blur(100px);
}
.container .loader {
  position: absolute;
  font-size: 100px;
  opacity: 1;
}
@media screen and (max-width: 520px) {
  .container .bg-img {
    background: url(https://lh3.googleusercontent.com/proxy/_NFeW4VWyonnXVsFKPiXRr2y9aXPxXp32NJzsTJ8t22ov6uxUKI72E0fOgfAHU24EhMe1zOzC2FdtOs_3tDIXFuASANHt9h1GEJFU9rwlgOEOgLTZ-ZUDE_2EPlHlHHczl3a992t6Zm4YSUtsyPc);
    background-size: contain;
  }
}
