@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
.bg {
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1445620466293-d6316372ab59?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;
  text-align: center;
  z-index: -2;
}
.bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
.bg h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
.bg p {
  font-size: 18px;
}
.wrapper-info {
  height: fit-content;
  margin: 0 auto;
  width: 80%;
  padding: 30px 0 60px 0;
}
.wrapper-info .info:nth-child(2) {
  margin-top: 30px;
}
.wrapper-info .info h3 {
  font-size: 24px;
  margin-bottom: 20px;
}
.wrapper-info .info p {
  font-size: 18px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
}
.nav {
  display: flex;
  padding: 30px 0;
  justify-content: space-around;
  color: #fff;
  background-color: #222;
  position: fixed;
  width: 100%;
  transition: all 0.3s ease-in;
}
.nav ul {
  display: flex;
}
.nav ul li {
  list-style-type: none;
  margin-left: 15px;
}

.nav ul li a {
  text-decoration: 0;
  color: #fff;
}
.logo {
  cursor: pointer;
}
.nav ul li a:hover,
.logo:hover {
  color: red;
  transition: color 0.5s linear;
}
.nav ul li:nth-child(1) a {
  color: red;
}
.nav.active {
  background-color: #fff;
  padding: 10px 0;
}
.nav.active .logo,
.nav.active ul li a {
  color: black;
}
.nav.active ul li:nth-child(1) a {
  color: red;
}
