* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --square-side: 40vw;
}
.wrapper {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 210, 238);
  position: relative;
}
.wrapper .wrapper__header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 10vh;
  display: flex;
  align-items: center;
}
.wrapper .wrapper__header .btn {
  border: 0;
  background-color: rgba(146, 3, 3, 0.548);
  padding: 10px 20px;
  border-radius: 4px;
  color: #fff;
}
.wrapper .wrapper__header .btn:focus {
  outline: none;
}
.wrapper .wrapper__header .btn:active {
  transform: scale(0.98);
}
.wrapper .wrapper__container {
  height: calc(var(--square-side) - 5vw);
  width: calc(var(--square-side) - 5vw);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transition: all 0.4 ease;
}
.wrapper .wrapper__container.big {
  height: var(--square-side);
  width: var(--square-side);
}
.wrapper .wrapper__container .box {
  background-image: url("https://media.giphy.com/media/EZqwsBSPlvSda/giphy.gif");
  background-repeat: no-repeat;
  background-size: 400% 400%;
  position: relative;
  height: 8.75vw;
  width: 8.75vw;
  transition: 0.4s ease;
}
.wrapper .wrapper__container.big .box {
  transform: rotate(360deg);
}
.wrapper .wrapper__container .box::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -15px;
  height: 100%;
  width: 15px;
  background-color: #f6e58d;
  transform: skewY(45deg);
}
.wrapper .wrapper__container .box::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 8px;
  height: 15px;
  width: 100%;
  background-color: #f9ca24;
  transform: skewX(45deg);
}

@media screen and (max-width: 768px) {
  :root {
    --square-side: 80vw;
  }
  .wrapper .wrapper__container {
    height: calc(var(--square-side) - 10vw);
    width: calc(var(--square-side) - 10vw);
  }
  .wrapper .wrapper__container .box {
    width: calc(70vw / 4);
    height: calc(70vw / 4);
  }
}
