* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(4, 207, 48, 0.877);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.empty {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: solid 3px black;
  background: white;
}

.fill {
  background-image: url("https://source.unsplash.com/random/150x150");
  height: 145px;
  width: 145px;
  cursor: pointer;
}

.hold {
  border: solid 5px #ccc;
}

.hovered {
  background-color: #333;
  border-color: white;
  border-style: dashed;
}
@media screen and (max-width: 440px) {
  .empty {
    height: 60px;
    width: 60px;
  }
  .fill {
    background-image: url("https://source.unsplash.com/random/55x55");
    height: 55px;
    width: 55px;
  }
}
