* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper {
  height: 100vh;
  width: 100vw;
  background-image: url(https://images.unsplash.com/photo-1551501712-5d58bd2d26d3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=925&q=80);
  background-size: cover;
  position: absolute;
  filter: blur(10px);
  overflow: hidden;
  z-index: -1;
}
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  width: 25%;
}
.container__form h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 5px;
}
.container__form p {
  color: rgba(0, 0, 0, 0.589);
  font-weight: 100;
  margin-bottom: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
.form .input {
  margin: 10px 0 10px;
  width: 100%;
  padding: 10px 5px;
  border: 1px solid rgba(0, 0, 0, 0.171);
}
.form .input:focus {
  outline: none;
}
.form .input::placeholder {
  color: rgba(0, 0, 0, 0.233);
}
.form label {
  font-size: 18px;
}
.form .btn {
  margin-top: 15px;
  width: 100%;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.699);
  color: #fff;
  border: 0;
  border-radius: 4px;
}
.form .btn:focus {
  outline: none;
}

@media screen and (max-width: 440px) {
  .container__form {
    width: 80%;
  }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .container__form {
    width: 45%;
  }
}
@media screen and (min-width: 440px) and (max-width: 768px) {
  .container__form {
    width: 60%;
  }
}
