@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(124, 124, 124, 0.699);
  font-family: "Poppins", sans-serif;
}
.wrapper h2 {
  padding: 20px;
  color: #fff;
}
.wrapper .box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.wrapper .box img {
  object-fit: cover;
  border-radius: 4px;
}
.btn {
  border: 0;
  padding: 10px 20px;
  color: #fff;
  background-color: rgba(12, 0, 187, 0.781);
  border-radius: 8px;
  margin: 20px 0;
}
.btn:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.98);
}
.btn:hover {
  background-color: rgba(12, 0, 187, 0.877);
}
@media screen and (max-width: 440px) {
  .wrapper .box {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 1024px) and (min-width: 441px) {
  .wrapper .box {
    grid-template-columns: repeat(2, 1fr);
  }
}
